[submodule "Shura/vendor/spdlog"]
	path = Shura/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Shura/vendor/GLFW"]
	path = Shura/vendor/GLFW
	url = https://github.com/TheCherno/glfw
